<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Minhas Receitas</title>
</head>

<body>
  <div>
    <div class="title">
      <nav class="navbar">
        <h2>Cookmaster</h2></span>
        <% if (!user) { %>
          <span><a href='/login' data-testid="login">Login</a></span>
        <% } else { %>
          <span><a href='/logout' data-testid="logout">Logout</a></span> <br>
        <% } %>
      </nav>
    </div>
    <h2>Minhas Receitas</h2>
    <% if (user) { %>
      <a data-testid="nova-receita" href="/recipes/new">Nova Receita</a>
    <% } %>
    <% if (message) { %>
      <h1><%= message %></h1>
    <% } %>
    <% if (recipes) { %>
    <% recipes.forEach(recipe => { %>
    <div>
      <div>
        <span><%= recipe.name %></span>
        <p><%= recipe.user %></p>
      </div>
      <div>
        <a href=<%= `/recipes/${recipe.id}` %>>Ver mais</a>
      </div>
    </div>
    <% } ) %>
    <% } %>
  </div>
</body>

</html>
