<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
  <link type="text/css" rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div>
    <div class="title">
      <nav class="navbar">
        <h2>Cookmaster</h2></span>
        <% if (!user) { %>
          <span><a href='/login' data-testid="login">Login</a></span>
        <% } else { %>
          <span><a href='/logout' data-testid="logout">Logout</a></span> <br>
        <% } %>
      </nav>
    </div>
    <h2>Receitas</h2>
    <% if (user) { %>
      <a data-testid="nova-receita" href="/recipes/new">Nova Receita</a>
      <a data-testid="minhas-receitas" href="/me/recipes">Minhas Receitas</a>
      <a data-testid="minha-conta" href="/me/edit">Minha Conta</a>
    <% } %>
    <a data-testid="buscar-receita" href="/recipes/search">Buscar Receitas</a>
    <div class="box">
      <% recipes.forEach(recipe => { %>
      <div class="recipe">
        <h3><%= recipe.name %></h3>
        <p><%= recipe.user %></p>
        <a href=<%= `/recipes/${recipe.id}` %>>Ver mais</a>
      </div>
      <% }) %>
    </div>

  </div>
</body>

</html>
