<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Excluir Receita</title>
  </head>
  <body>
    <% if (user) { %>
      <a data-testid="excluir-receita" href="#">Excluir Receita</a>
    <% } %>
    <div class="row">
      <h3>Confirmar Exclusão</h3>
      <form action=<%=`/recipes/${id}/delete`%> method="POST">
        <div>
          <label for="passwordInput">Senha: </label>
          <input type="password" name="password" id="passwordInput" data-testid="senha" />
        </div>
        <div>
          <div>
            <a href="/" data-testid="cancelar">Cancelar</a>
          </div>
          <div>
            <button type="submit" data-testid="confirmar">Confirmar</button>
            <% if (message) {%>
              <div>
                <span><%= message %></span>
              </div>
            <% } %>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
