<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster</title>
</head>

<body>
  <div>
    <div class="title">
      <nav class="navbar">
        <h2>Cookmaster</h2></span>
        <% if (!user) { %>
          <span><a href='/login' data-testid="login">Login</a></span>
        <% } else { %>
          <span><a href='/logout' data-testid="logout">Logout</a></span> <br>
        <% } %>
      </nav>
    </div>
    <form action="/recipes" method="POST" name="recipeForm">
      <h3>Nova Receita</h3>
      <div>
        <div>
          <label for="namelInput">Nome da receita: </label>
          <input type="text" name="name" id="namelInput" data-testid="nome-receita" />
          <% if (nameMessage) {%>
          <div class="message">
            <span><%= nameMessage %></span>
          </div>
          <% } %>
        </div>
        <ul id="ingredientList"></ul>
        <div>
          <label for="ingredientInput">Adicionar ingrediente: </label>
          <input type="text" name="ingredients" id="ingredientInput" data-testid="ingredientes" />
          <% if (ingredientsMessage) {%>
          <div class="message">
            <span><%= ingredientsMessage %></span>
          </div>
          <% } %>
          <button type="button" data-testid="adicionar-ingrediente" onclick="addIngredient()">
            Adicionar ingredients
          </button>
        </div>
        <div>
          <label for="ingredientInput">Modo de preparo: </label>
          <textarea data-testid="modo-de-preparo" name="instructions" id="instructions"></textarea>
          <% if (instructionsMessage) {%>
          <div>
            <span><%= instructionsMessage %></span>
          </div>
          <% } %>
        </div>
      </div>
      <div>
        <div>
          <a href="/">Voltar</a>
          <div>
            <button type="button" data-testid="postar-receita" onclick="submitRecipe()">
              Salvar receita
            </button>
            <% if (successMessage) {%>
            <div>
              <span><%= successMessage %></span>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </form>
    <script>
      const ingredients = new Set();
      const addIngredient = () => {
        const li = document.createElement('li');
        const list = document.getElementById('ingredientList');
        const ingredientInput = document.getElementById('ingredientInput');
        li.innerHTML = `<span>${ingredientInput.value}</span>
          <button
            type="button"
          >
            Excluir Ingrediente
          </button>`;
        li.children[1].onclick = () => {
          li.remove();
          ingredients.delete(li.children[0].textContent);
        };
        list.appendChild(li);
        ingredients.add(ingredientInput.value);
        ingredientInput.value = '';
      };
      const submitRecipe = () => {
        const ingredientInput = document.getElementById('ingredientInput');
        ingredientInput.value = [...ingredients].join();
        document.recipeForm.submit();
      };
    </script>
  </div>
</body>

</html>
